:root{
  --titletext:35pt;
  --leadtext:14pt;
  --highlighttext:11pt;
  --maincolor: #495e57;
  --subcolor:#f4ce14;
  --grey:#edefee;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color:initial;
}
.stop-scroll{
  overflow: hidden;
  height: 100vh;
}
.titletext {
  margin: 0;
  color: var(--subcolor);
  font-size: var(--titletext);
  font-weight: bold;
}

.highlighttext {
  font-size: var(--highlighttext);
  line-height: 1.5rem;
}

.leadtext {
  margin: 0;
  font-size: var(--leadtext);
  font-weight: 500;
}
.littlelemonbtn{
  background-color: #f4ce14;
  border: none;
  padding:10pt 14pt;
  border-radius: 16pt;
  font-weight: 600;
  transition: .3s ease;
}
.littlelemonbtn:hover{
  transform: scale(1.2);
  color:#edefee
}
.componenttitletext{
  font-size: var(--titletext);
  font-weight: 500;
  text-align: center;
}