:root{
  --titletext:35pt;
  --leadtext:14pt;
  --highlighttext:11pt;
  --maincolor: #495e57;
  --subcolor:#f4ce14;
  --grey:#edefee;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color:initial;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav{
  display: flex;
  height:84px;
  gap:50px;
}
header nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  gap: 20pt;
}
header nav ul li a{
  font-size: var(--leadtext);
  font-weight: 600;
  text-transform: uppercase;
  transition: .3s ease;
  border-radius: 16pt;
  color:rgba(0, 0, 0, 0.825);
  text-decoration: none;
}
header nav ul li a:hover,.activelink{
  background-color: var(--maincolor);
  color:#edefee;
  padding:.5rem 1rem;
}
.herosection{
  width: 100%;
  height:400px;
  display:flex;
  background-color: var(--maincolor);
  justify-content: center;
  align-items: center;
  margin:0;
}
.herosectioninfo{
  max-width: 327px;
  color:#edefee;
}
.herosectioninfo h2,.chicagotext h2{
  margin: 0;
  color: var(--subcolor);
  font-size: var(--titletext);
  font-weight: bold;
}
.herosectioninfo p,.chicagotext p{
  font-size: var(--highlighttext);
  line-height: 1.5rem;
}
.herosectioninfo h6,.chicagotext h6{
  margin: 0;
  font-size: var(--leadtext);
  font-weight: 500;
}
.littlelemonbtn{
  background-color: #f4ce14;
  border: none;
  padding:10pt 14pt;
  border-radius: 16pt;
  font-weight: 600;
  transition: .3s ease;
}
.littlelemonbtn:hover{
  transform: scale(1.2);
  color:#edefee
}
.herosection figure{
  height: 100%;
  position: relative;
  width: 350px;
}
.herosection figure>img{
  height: 100%;
  object-fit: contain;
  z-index: 10;
  position: absolute;
  top: 15%;
  right: 0;
  border-radius: 16pt;
}
.highlights{
  width: 80%;
  margin: 0 10%;
  margin-top: 7rem;
}
.highlightsheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.highlightsheader h2,.customersay>h2,.chicago>h2{
  font-size: var(--titletext);
  font-weight: 500;
}
.highlightsmain{
  display: flex;
  justify-content: space-between;
}
.highlightitem{
  width: 260px;
  background-color: var(--grey);
  border-radius: 16pt;
  box-shadow: 3px 3px 10px 0px rgb(149, 148, 148);
}
.highlightitem figure img{
  border-radius: 16pt 16pt 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.highlightitemmain span{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.highlightitemmain span h6,.highlightfooter p{
  font-size: var(--leadtext);
  font-weight: 600;
  margin:0
}
.highlightitemmain span p{
  font-size: var(--highlighttext);
  color: #ee9972;
  margin:0
}
.highlightitemmain>p{
  font-size: var(--highlighttext);
  line-height: 1.5rem;
  opacity: .75;
}
.highlightfooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.1rem;
  margin-top: 1.5rem;
  color:var(--maincolor)
}
.customersay{
  width: 100%;
  background-color: var(--maincolor);
  color:var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 2rem 0;
  flex-direction: column;
  margin-top: 6rem;
}
.testimonialsection{
  display: flex;
  justify-content: center;
  gap:30px;
  align-items: center;
}
.testimonial{
  max-width: 350px;
  background-color: var(--grey);
  border-radius: 16pt;
  padding: 1rem;
  color:var(--maincolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial blockquote{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.testimonial blockquote p{
  font-size: var(--highlighttext);
  font-weight: 400;
  font-style: italic;
  width: 250px;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  opacity: .9;
}
.testimonial>h6{
  font-size: var(--leadtext);
  font-weight: 500;
  margin: 0;
}
.testimonial>p{
  font-size: var(--highlighttext);
  margin: 0;
  opacity: .85;
}
.testimonial>img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonialline{
  display: block;
  width: 90%;
  height: 1px;
  background-color: gray;
  margin: .5rem 0;
  opacity: .7;
}
.ratings{
  font-size: 25pt;
  margin: 0 .2rem;
}
.chicago{
  margin-top: 2rem;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chicagomain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.chicagomain figure{
  margin:0;
  width: 400px;
  height: 400px;
  position: relative;
}
.chicagomain figure img{
  border-radius: 16pt;
  object-fit: cover;
  box-shadow: 1px 1px 10px 0px rgb(149, 148, 148);
}
.chicagomain figure img:nth-child(1){
  position: absolute;
  top:0
}
.chicagomain figure img:nth-child(2) {
  position: absolute;
  top:30%;
  left:30%
}
.chicagotext{
  max-width: 350px;
}
.chicagotext h2,.chicagotext h6{
  color:var(--maincolor)
}
.chicagotext p{
  color:rgb(108, 108, 108)
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: max-content;
  background-color: var(--maincolor);
  color: var(--grey);
  margin-top: 3rem;
  padding: 2rem 0;
}
footer strong{
  font-size: 45pt;
  font-weight: 700;
  letter-spacing: .5rem;
  text-transform: uppercase;
}
.footerline{
  background-color:var(--grey);
  width: 1px;
  height: 100px;
  display: block;
}
.errormsg{
  color: #ee9972;
  font-size: var(--highlighttext);
  margin:0
}
.bookingmain{
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.bookingform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height:inherit;
  position:relative
}
.bookingform img{
  position: absolute;
  top:15px;
  left: 15px;
}
.bookingform h2{
  font-size: 25pt;
  font-weight: 500;
  text-align: center;
  margin:.5rem
}
.bookingform>p{
  font-size:13pt;
  font-weight: 400;
  text-align: center;
  margin:0;
  margin-bottom: 1rem;
  color: rgb(96, 95, 95);
}
.bookingform form>label{
  font-size: var(--highlighttext);
  font-weight: 400;
  text-align: start;
}
.bookingform form>input,.bookingform form>select{
  background-color: #495e5710;
  border:none;
  border-radius: 10pt;
  height:40px;
  padding-left: 1rem;
  font-size: var(--highlighttext);
  color:rgb(62, 62, 62);
  margin-bottom: .7rem;
  box-shadow: inset 0px 0px 4px -1px rgb(137, 136, 136);
}
.bookingform form>input:focus,
.bookingform form>select:focus{
  background-color: white;
  border: 3px solid #495e578d;
  outline: none;
}
.bookingform form>button{
  width: 100%;
  height: 40px;
  border-radius: 8pt;
  color:var(--grey);
  background-color: var(--maincolor);
  border:none;
  font-size: var(--leadtext);
}
.bookingform form>button:disabled{
  background-color: rgb(209, 208, 208);
  color:rgb(106, 105, 105)
}
.formImg{
  width: 60%;
  background-image: url("./assets/Mario\ and\ Adrian\ A.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.formImg button{
  position: absolute;
  top: 20px;
  right: 5%;
}